<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>底部footer</title>

    <meta name="keywords" content=" 李贤元, 李贤元个人博客, 李贤元个人博客网站">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
</head>

<body>
<!-- 底部的最后一栏 -->
<div th:fragment="footerBar">
    <footer>
        <div id="footId" class="footerDivClass">
            <ul>
                <p align="center">
                    CopyRight &copy 2017~2019 李贤元个人博客网站 <a
                        href="http://www.miitbeian.gov.cn/">闽ICP备17018144号</a>
                </p>
            </ul>
        </div>
    </footer>
</div>
</body>

</html>